
  <footer class="footer fixed-bottom d-flex flex-wrap justify-content-between align-items-center py-3 mb-0 border-top mx-5">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <img src="images\chat-square-text.svg" alt="" height="30px" class="mt-1 px-2">
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">© <%= new Date().getFullYear() %> Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <!-- you can add your social media links in the href  -->
      <li class="ms-3"><a class="text-body-secondary" href="#"><img src="images/instagram.svg" alt="" height="30px" class="mt-1 px-2"></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#"><img src="images\twitter-x.svg" alt="" height="30px" class="mt-1 px-2"></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#"><img src="images\facebook.svg" alt="" height="30px" class="mt-1 px-2"></a></li>
    </ul>
  </footer>
</body>
</html> 
