<%- include("../views/partials/header.ejs") %>
 <div class="container contactContainer ">
  
    <h3>How can we help you?</h3>
    <h1>Contact Us</h1><br>
    <h5>We're here to help and answer any questions you might have. We look forward to hearing you!</h5><br>
    <img src="images\geo-alt-fill.svg" alt="" height="25px">
    <p>Replce it with Your Location</p><br><br>
    <img src="images\telephone-fill.svg" alt="" height="25px">
    <p>Replace it with your Phone Number</p><br><br>
    <img src="images\envelope.svg" alt="" height="25px">
    <p>Replace it with your email</p>

</div>


<%- include("../views/partials/footer.ejs") %>