<%- include("../views/partials/header.ejs") %>

<div class="container" style="white-space: pre-wrap;">
  <h1><%= title %></h1>
  <p class="contentPara"><%= content %></p>
</div>
<%- include("../views/partials/footer.ejs") %>